.movieSortBox {
    margin: 0 auto;
    margin-bottom: 20px;
}

.movieSortText {
    margin: 0 auto;
    min-width: 200px;
    width: 630px;
    padding: 0 0 0 9px;
}

.movieSortText p {
    margin: 0;
}

.input-group-prepend {
    margin: 0 auto;
    align-items: center;

    .fa-search {
        position: relative;
        left: 30px;
    }

    .searchBar {
        min-width: 200px;
        width: 630px;
        text-indent: 28px;
    }
}

.movieSortList {
    margin: 0 auto;
    min-width: 200px;
    padding: 0 0 0 14px;
    width: 642px;
}

#movieSortBar {
    width: 100%;
    height: 38px;
}

.btn-wrapper {
    margin: 0 20px;
    display: flex;
    justify-content: center;
    .btn{
        margin: 0 20px;
        width: 100px;
        a{
            color: white;
        }
    }
    .btn-detail{
        display: none;
    }

}

.movieContainer {
    max-width: 100%;
    // display: grid;
    // grid-template-columns: repeat(5, 1fr);
    // justify-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;

    .movieGallery {
        display: grid;
        margin: 0px 15px 15px 10px;
        text-align: center;
        .movieTitle {
            max-width: 220px;
        }
    }
}

.listContainer {
    .movieGallery {
        display: grid;
        justify-items: center;
    }
}

.poster-lg {
    max-width: 220px;
    width: 220px !important;

}

.poster-sm {
    max-width: 100px !important;

    img {
        width: 100px !important;
        height: 140px !important;
        min-width: 100px !important;
    }
}

.moviePoster {
    img {
        max-width: 100%;
        max-height: 100%;
        min-width: 186px;
        height: 270px;
    }
}

.filterSwitch {
    margin: 0 auto;
    display: flex;
    justify-content: center;

    .filterRadio {
        margin: 0 20px;

        .MuiButtonBase-root {
            padding: 9px 0 9px 0 !important;
        }
    }
}

.genreFilterBar {
    display: flex;
    justify-content: space-evenly;
    .genreBtn {
        padding: 6px 12px !important;
    }
}

.selectedBtn {
    border-radius: 5px;
}

.card-body {
    display: grid;
    justify-content: center;
    grid-template-areas: 
    "prev card-wrapper card-text-wrapper next" ;
}

.card-wrapper {
    grid-area: "card-wrapper";
    margin: 0 auto;
    display: flex;
    width: 300px;
    height: 400px;
}

.card-text-wrapper {
    grid-area: card-text-wrapper;
    margin: 0 20px;
    overflow-wrap: break-word;
    max-width: 300px;

}

.prev-1 {
    display: none;
}

.next-1 {
    display: none;
}

.prev {
    grid-area: prev;
    margin: 0 30px 0 0;
    font-size: 20px;
    color: #177cb0;
}

.next {
    grid-area: next;
    margin: 0 0 0 30px;
    font-size: 20px;
    color: #177cb0;
}
